<ngx-spinner></ngx-spinner>
<div class="container-fluid">
  <div class="row">
    <div class="col-5 pl-1">
      <section id="background"></section>
    </div>
    <div class="col-7">
      <div class="from-content mt-5">
        <div class="img">
          <img [src]="url" alt="" class="zsoonimg" />
          <h4 class="h4">Visitor Registration System St James Power Station
          </h4>
        </div>
        <form class="example-form mt-3">
          <mat-form-field class="example-full-width">
            <mat-label><i class="fa fa-lock"></i> <span class="ml-1"> Old Password</span></mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="changedata.oldPassword"
              [formControl]="oldPassword" name="password">
            <span class="eyeIcon" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <mat-error *ngIf="oldPassword.hasError('required')">
              Old Password is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width mb-2">
            <mat-label><i class="fa fa-lock"></i><span class="pl-1">New password</span> </mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" [(ngModel)]="changedata.newPassword"
              [formControl]="newPassword" name="password">
            <span class="eyeIcon" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide1">
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <mat-error *ngIf="newPassword.hasError('required')">
              <p class="error"> Password should be minimum 14 characters with 1 upper case, 1 lower case, 1 digit and 1
                special character</p>
            </mat-error>
            <mat-error *ngIf="newPassword.hasError('minLength')">
              Password should be minimum 14 characters with 1 upper case, 1 lower case, 1 digit and 1 special character
            </mat-error>
            <mat-error *ngIf="newPassword.hasError('pattern')">
              Password should be minimum 14 characters with 1 upper case, 1 lower case, 1 digit and 1 special character
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width mt-2">
            <mat-label><i class="fa fa-lock"></i><span class="pl-1">Confirm password</span> </mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" [(ngModel)]="changedata.confpassword"
              name="confpassword" [formControl]="confPassword1" name="password">
            <span class="eyeIcon" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <mat-error *ngIf="confPassword1.hasError('required')">
              Confirm Password is required
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="oldpass==true">
            <p class="password">Please check your old password</p>
          </mat-error>
          <mat-error *ngIf="password1==true">
            <p class="password">Your Password doesn't match</p>
          </mat-error>
        </form>
        <div class="text-center mb-2">
          <button mat-raised-button class="btn-block" (click)="changePassword(changedata)">Submit</button>
        </div>
        <div class="text-center mb-2">
          <button mat-raised-button class="btn-block back" color="warn" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
