<ngx-spinner></ngx-spinner>
<div class="container-fluid" *ngIf="addrace == false && editrace == false">
  <mat-card class="maincard">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2 class="user">Races</h2>
        </div>
        <div class="col-12 col-md-6">
          <button mat-raised-button color="primary" class="addcountry" (click)="AddRace()">
            <i class="fa fa-plus"></i> Add Race
          </button>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12 col-md-2">
          <select class="form-control entries" (change)="onChange($event.target.value)">
            <!-- <option>Select Entries</option> -->
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="75">75</option>
          </select>
        </div>
        <div class="col-12 col-md-3 ml-auto">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label><i class="fa fa-search"></i> Search</mat-label>
              <input matInput placeholder="Enter Value" value="" name="search" [(ngModel)]="searchText"
                autocomplete="off" />
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-stripped table-bordered">
              <thead>
                <tr class="text-center">
                  <th  (click)="sort('raceCode')">eOrdering Race Code&nbsp;<i class="fa fa-sort"></i> </th>
                  <th  (click)="sort('raceDescripiton')">eOrdering Race Description&nbsp;<i class="fa fa-sort"></i></th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" *ngFor="let race of races
                  | paginate: { itemsPerPage: pageno, currentPage: q }
                  | filter: searchText | orderBy: key: !reverse">
                  <td>{{race.raceCode}}</td>
                  <td>{{race.raceDescripiton}}</td>
                  <td>
                    <i class="fa fa-edit text-primary" title="edit" (click)="EditRace(race)"></i>
                    <i class="fa fa-trash text-danger ml-1" title="delete" (click)="DeleteRace(race.id)"></i>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="20">
                    <div *ngIf="!races?.length" style="text-align: center">
                      No records found
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
            <pagination-controls style="float: right" (pageChange)="q = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<!-- table ends -->

<!-- adduser starts -->
<div class="container-fluid">
  <mat-card class="maincard" *ngIf="addrace == true">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Add eOrdering Race Details</h2>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 col-md-6">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>eOrdering Race Code</mat-label>
              <input matInput placeholder="Enter eOrdering Race Code" type="text"  [formControl]="RaceCode" [errorStateMatcher]="matcher"
              [(ngModel)]="insertrace.raceCode" name="raceCode" />
              <mat-error *ngIf="RaceCode.hasError('required')">eOrdering Race code is required</mat-error>
            </mat-form-field>
          </form>
        </div>
        <div class="col-12 col-md-6">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>eOrdering Race Description</mat-label>
              <input matInput placeholder="Enter eOrdering Race Description" type="text"  [formControl]="RaceDesc" [errorStateMatcher]="matcher"
              [(ngModel)]="insertrace.raceDescripiton" name="raceDescripiton" />
              <mat-error *ngIf="RaceDesc.hasError('required')">eOrdering Race Description is required</mat-error>
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="text-right">
        <button color="primary" class="m-1" mat-raised-button (click)="SaveRace(insertrace)"> Save </button>
        <button mat-raised-button color="warn" (click)="Cancel()">Close</button>
      </div>
    </div>
  </mat-card>
</div>
<!-- adduser ends -->

<!-- edit user starts -->
<div class="container-fluid">
  <mat-card class="maincard" *ngIf="editrace == true">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Edit eOrdering Race Details</h2>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 col-md-6">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>eOrdering Race Code</mat-label>
              <input matInput placeholder="Enter eOrdering Race Code" type="text" [formControl]="RaceCode" [errorStateMatcher]="matcher"
               [(ngModel)]="updaterace.raceCode" name="raceCode"/>
               <mat-error *ngIf="RaceCode.hasError('required')">eOrdering Race code is required</mat-error>
            </mat-form-field>
          </form>
        </div>
        <div class="col-12 col-md-6">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>eOrdering Race Description</mat-label>
              <input matInput placeholder="Enter eOrdering Race Description" type="text-area"  [formControl]="RaceDesc" [errorStateMatcher]="matcher"
              [(ngModel)]="updaterace.raceDescripiton" name="raceDescripiton"/>
              <mat-error *ngIf="RaceDesc.hasError('required')">eOrdering Race Description is required</mat-error>
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="text-right">
        <button color="primary" class="m-1" mat-raised-button (click)="UpdateRace(updaterace)"> Update </button>
        <button mat-raised-button color="warn" (click)="Cancel()">Close</button>
      </div>
    </div>

  </mat-card>
</div>
<!-- edit user ends -->
