mat-card {
  width: 100%;
}

button {
  outline: none;
}

.example-card {
  max-width: 400px;
  margin: 3px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-form {
  min-width: 100px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

table {
  width: 100%;
}

mat-icon {
  cursor: pointer;
  font-size: 1rem;
  outline: none;
}

.maincard {
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  border-radius: 22px;
  clear: both;
}

.addzones {
  float: right;
}

.zsoonimg {
  border-radius: 50%;
}

.example-full-width1 {
  width: 100%;
}

.btn {
  margin-top: 28px;
  left: 225%;
}

.imgTable1 {
  width: 39px;
  height: 39px;
}

.btn1 {
  background-color: #388e3c;
  color: white;
  bottom: 36px;
  float: right;
}

.design {
  float: right;
}

.design1 {
  background-color: green;
  color: white;
  margin-left: 65% !important;
}

.filter {
  position: relative;
  // left: 52%;
  margin-left: 27%;
  width: 246px;
}

.maincard {
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  border-radius: 22px;
  clear: both;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-icon {
  font-size: 25px;
  margin-right: 2% !important;
}

.adj {
  margin-right: 2% !important;
}
