.agree {
    margin-left: 3% !important;
    margin-top: -20px !important;
    color: black;
    cursor: pointer;
}

.lastupdated {
    text-align: center;
}

.h4 {
    position: relative !important;
    bottom: 41px !important;
}

.eyeIcon {
    cursor: pointer
}

#background {
    background-image: url('../../assets/simone-hutsch-_wpce-AsLxk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    top: 10%;
}

.decbtn {
    background-color: #ff3333;
    color: white;
    margin-left: 36% !important;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
}

.fontsty {
    font-size: 18px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button:not(:disabled) {
    cursor: pointer;
    color: white;
}

.check {
    zoom: 1.3 !important;
    margin-left: -4% !important;
    position: absolute !important;
    top: 246px !important;
}

.forgotpassword {
    outline: none;
    color: black;
    font-size: 17px;
    letter-spacing: 1px;
    // margin-top: 20%;
    margin-left: -3%;
    font-family: "Raleway", sans-serif;
}

.button {
    font-size: 18px;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: sans-serif;
    margin-top: 15% !important;
}

.zsoonimg {
    position: relative;
    bottom: 48px;
    height: 13vh;
}

button {
    outline: none;
    border: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.ver {
    float: right;
    margin-top: 10%;
    font-family: sans-serif;
    font-size: 16px;
}

input {
    color: #353030;
    box-shadow: none !important;
    outline: 0 !important;
    border: 0;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ccc;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ccc;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}

.msg-box {
    position: fixed;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    border: 0;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
    padding: 10px 20px;
    min-width: 400px;
    max-width: 900px;
    font-size: 14px;
}

.msg-box .warning {
    width: 24px;
    height: 24px;
    line-height: 24px;
    background-color: #fe4066;
    color: white;
    font-size: 14px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 16px;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.loading img {
    display: inline-block;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.body {
    background: url("/login-bg.jpg") no-repeat;
    background-size: cover;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../assets/final.png");
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.content {
    width: 420px;
    margin: 16vh auto 0;
}

.header-icon {
    text-align: center;
    margin-bottom: 30px;
}

.header-icon a,
.header-icon i {
    color: #fff;
    font-size: 48px;
}

.from-content {
    width: 420px;
    box-sizing: border-box;
    padding: 40px 40px 48px;
    background-color: #fff;
    position: relative;
    height: 70vh;
    left: 20%;
    top: 10%;
}

.from-content1 {
    width: 420px;
    box-sizing: border-box;
    padding: 40px 40px 48px;
    background-color: #fff;
    position: relative;
    border-radius: 22px;
    height: 65vh;
}

.from-content h1 {
    font-size: 18px;
    color: #353030;
    font-weight: 600;
    margin: 0 0 40px;
}

.from-content .mark {
    color: #8c8889;
    font-size: 14px;
    margin-bottom: 24px;
    line-height: 1.5;
}

.from-content .top-right {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

.from-content .top-right img {
    width: 45px;
    height: 45px;
}

.from-content .ercode {
    text-align: center;
}

.from-content .ercode img {
    width: 184px;
    height: 184px;
    display: inline-block;
    opacity: 0;
}

.from-content .ercode p {
    font-size: 14px;
    color: #8c8889;
}

.from-content .from {
    margin-top: 20px;
}

.from-content .from.hide {
    display: none;
}

.from-content .from.hide .submit-btn {
    margin-top: 60px;
}

.from-content .from-list {
    margin-top: 24px;
}

.from-content .from-list input {
    width: 100%;
    margin: 0;
    padding: 0 0 0 6px;
    height: 40px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
}

.from-content .from-list input::-webkit-input-placeholder {
    font-size: 14px;
}

.from-content .from-list input::-moz-placeholder {
    font-size: 14px;
}

.from-content .from-list input::-ms-input-placeholder {
    font-size: 14px;
}

.from-content .tip {
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.from-content .tip.tip-signup {
    padding-left: 20px;
    position: relative;
}

.from-content .tip.tip-signup .iconfont {
    position: absolute;
    left: 0;
    top: -1px;
}

.from-content .tip span {
    vertical-align: middle;
    cursor: default;
}

.from-content .tip span.icon {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: inline-block;
}

.from-content .tip span:last-of-type {
    padding-left: 2px;
}

.from-content .tip a {
    color: #fe4066;
    vertical-align: middle;
}

.from-content .tip .tip-right {
    color: #353030;
}

.from-content .tip .tip-right:hover {
    color: #fe4066;
}

.from-content .tip.agree .iconfont {
    color: #fe4066;
    background: none;
}

.from-content .tip.signup-tip,
.from-content .tip.signin-tip {
    text-align: center;
    margin-top: 20px;
}

.from-content .tip.signin-tip {
    display: none;
}

.from-content .tip.forgot-tip {
    text-align: center;
    margin-top: 20px;
}

.from-content .tip.forgot-tip a {
    color: #353030;
}

.from-content .tip.forgot-tip a:hover {
    color: #fe4066;
}

.from-content .error-message {
    font-size: 12px;
    color: #fe4066;
    text-align: center;
    margin-top: 16px;
    opacity: 0;
}

.from-content .submit-btn {
    margin-top: 16px;
}

.from-content .submit-btn button {
    background-color: #50f7fb;
    color: #fff;
    font-size: 16px;
    height: 44px;
    width: 100%;
    display: block;
    border-radius: 22px;
}

.from-content .submit-btn button:hover {
    background-color: #50f7fb;
}

.from-content .forgot-btn {
    margin-top: 160px;
}

.content-footer {
    width: 420px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 20px 40px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
}

.content-footer span {
    font-size: 14px;
    color: #8c8889;
    cursor: default;
}

.content-footer .btn-right {
    float: right;
}

.content-footer .btn-right a {
    font-size: 14px;
    color: #8c8889;
    display: inline-block;
}

.content-footer .btn-right a img {
    width: 17px;
    height: auto;
    margin-right: 3px;
    vertical-align: text-top;
}

.content-footer .btn-right a:first-of-type img {
    margin-right: 6px;
}

.content-footer .btn-right .line {
    margin: 0 20px;
    color: #8c8889;
}

.content-footer .btn-center {
    text-align: center;
}

.content-footer .btn-center a {
    font-size: 14px;
    color: #8c8889;
}

.content-footer .btn-center a i {
    font-size: 16px;
    vertical-align: text-top;
    margin-right: 8px;
}

.content-footer .btn-center a:hover {
    color: #fe4066;
}

.bind-footer {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin: 35px 0;
    color: #8c8889;
}

@media screen and (max-width: 540px) {
    .body,
    .bg {
        background: none;
        background-color: #fff;
    }
    .header-icon {
        display: none;
    }
    .content {
        width: 92%;
        margin: auto;
    }
    .from-content {
        width: 100%;
        max-width: 420px;
        margin: 40px auto;
        padding: 0;
    }
    .from-content .top-right {
        display: none;
    }
    .from-content .tip.signin-tip {
        display: block;
    }
    .from-content .forgot-btn {
        margin-top: 80px;
    }
    .content-footer {
        width: 100%;
        max-width: 420px;
        margin: 20px auto;
        padding: 0;
    }
}

.from-content {
    border-radius: 23px;
}

@media screen and (max-width: 340px) {
    .content-footer .btn-right .line {
        margin: 0 16px;
    }
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

button {
    background: #6cd7e0;
    outline: none;
    border-radius: 22px;
    border: none;
}

// button:hover {
//     background: linear-gradient(90deg, #ff0000, #ff8307);
//     //    transition-duration:all ease 5s;
// }
.img {
    height: 100px !important;
    position: relative;
    top: 30px;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.mat-radio-button {
    font-size: 0.7;
}

.zsoonimg {
    margin-top: 12x;
    // border-radius: 22px;
}

img {
    font-size: 12px;
}

.a-o-i {
    font-size: 30px;
    font-weight: 600;
    margin-top: 0;
}

.a-o-i-t {
    @extend .a-o-i;
    font-size: 25px;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

.o-c {
    text-align: center;
    display: flex;
    display: -webkit-flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.s-t {
    font-size: 16px;
    font-weight: 600;
}

.list {
    list-style: none;
    margin-top: 0;
    padding: 0;
    li {
        padding-bottom: 10px;
        border-bottom: 1px solid lightgray;
        padding-top: 10px;
        padding-left: 40px;
    }
}

.btn-updt {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid #ccc4c4;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.card {
    padding: 2rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    border-radius: 4px;
    background: white;
    margin: 0 auto;
}

.btn {
    border: 1px solid lightgrey;
    margin: 0.5rem 0;
    height: 1.5rem;
    padding: 0 0.5rem;
    background: white;
    width: 150px;
    border-radius: 4px;
}

.o-t-p {
    display: block;
    margin-top: 10px;
    font-size: 19px;
}

.sidebar {
    width: 250px;
    height: 100vh;
    display: inline-block;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.f-c {
    width: 150px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    margin: 0.5rem 0;
    height: 1.5rem;
    padding: 0 0.5rem;
}

@media screen and (max-width: 767px) {
    .sidebar {
        width: 100%;
        height: auto;
    }
    .content {
        width: 100%;
    }
    .o-c {
        display: block;
    }
    .list {
        li {
            padding-left: 2px;
            width: calc(50% - 2px);
            display: inline-block;
        }
    }
}

.code {
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: sans-serif;
    cursor: pointer;
}

#partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border-top: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-image: linear-gradient( to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 220px;
    min-width: 220px;
}

#divInner {
    left: 0;
    position: sticky;
}

#divOuter {
    width: 190px;
    overflow: hidden;
    margin-left: 20%;
}

.eyeside {
    margin-left: 85%;
}

.type-toggle {
    padding-inline-start: 0.5rem;
}

.show-option,
.hide-option {
    font-size: 1.2rem;
    display: block;
}

.cursor {
    cursor: pointer;
}

ngx-countdown {
    color: blue;
}

::ng-deep.mat-dialog-container {
    border-radius: 18px !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.sent {
    margin-left: -4% !important;
    position: absolute !important;
    top: 262px !important;
}

.Sent {
    font-size: 13px !important
}