<ngx-spinner></ngx-spinner>
<!-- table starts -->
<div class="container-fluid" *ngIf="editlocation == false && addlocation == false">
  <mat-card class="maincard">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2>Location Management</h2>
        </div>
        <div class="col-12 col-md-6">
          <button mat-raised-button color="primary" class="addcustomer" (click)="AddLocation()">
            <i class="fa fa-plus"></i> Add Location
          </button>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12 col-md-2">
          <select class="form-control entries" (change)="onChange($event.target.value)">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="75">75</option>
          </select>
        </div>
        <div class="col-12 col-md-3 ml-auto">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label><i class="fa fa-search"></i> Search</mat-label>
              <input matInput placeholder="Enter Value" value="" name="search" [(ngModel)]="searchText"
                autocomplete="off" />
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-stripped table-bordered">
              <thead>
                <tr class="text-center">
                  <!-- <th (click)="sort('name')">No&nbsp;<i class="fa fa-sort"></i></th> -->
                  <th (click)="sort('name')">Location Name&nbsp;<i class="fa fa-sort"></i></th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" *ngFor="let location of locationarr
                  | paginate: { itemsPerPage: pageno, currentPage: q }
                  | filter: searchText  | orderBy: key: !reverse ; let i=index ">
                  <!-- <td>{{i + 1}}</td> -->
                  <td>{{location.locationName}}</td>
                  <td>
                    <i class="fa fa-edit text-primary" title="edit" (click)="EditLocation(location)"></i>
                    <i class="fa fa-trash text-danger ml-1" title="delete" (click)="DeleteLocation(location.id)"></i>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td *ngIf="!locationarr?.length" colspan="20">
                    <div style="text-align: center">
                      No records found
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
            <pagination-controls style="float: right" (pageChange)="q = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<!-- table ends -->

<!-- add location starts -->
<mat-card class="maincard" *ngIf="addlocation == true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Add Location</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Location Name</mat-label>
            <input matInput placeholder="Enter Location Name" name="locationName" [formControl]="Name"
              [errorStateMatcher]="matcher" [(ngModel)]="insertlocation.locationName" type="text" />
            <mat-error *ngIf="Name.hasError('required')">Location is required</mat-error>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="text-right">
      <button mat-raised-button color="primary" class="m-1" (click)="SaveLocation(insertlocation)">
        Save
      </button>
      <button mat-raised-button color="warn" (click)="Cancel()">Close</button>
    </div>
  </div>
</mat-card>

<!-- edit location -->
<mat-card class="maincard" *ngIf="editlocation == true">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Edit Location</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Location Name</mat-label>
            <input matInput placeholder="Enter Location Name" name="locationName" [formControl]="Name"
              [errorStateMatcher]="matcher" [(ngModel)]="updatelocatiion.locationName" type="text" />
            <mat-error *ngIf="Name.hasError('required')"> location is required </mat-error>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="text-right">
      <button mat-raised-button color="primary" class="m-1" (click)="UpdateLocation(updatelocatiion)">
        Update
      </button>
      <button mat-raised-button color="warn" (click)="Cancel()">Close</button>
    </div>
  </div>
</mat-card>
