<ngx-spinner>

</ngx-spinner>
<div class="container-fluid">
    <div class="row">
        <div class=" col-12    col-md-4 px-0">
            <div class="box1">
                <h3 class="text-center mt-1"><i class="fa fa-shopping-cart    shopping    pr-1
                        mt-1"></i> Todays Total Earnings <br>
                    <h2 class="text-center">$ 500.80</h2>
                </h3>
            </div>
        </div>
        <div class=" col-12     col-md-4 px-0">
            <div class="box2">
                <h3 class="text-center mt-1"><i class="fa fa-envelope   envelope   pr-1 mt-1"></i> Todays Mails <br>
                    <h2 class="text-center">35</h2>
                </h3>
            </div>
        </div>
        <div class=" col-12  col-md-4 px-0">
            <div class="box3">
                <h3 class="text-center mt-1"><i class="fa fa-shopping-cart     shopping2 pr-1
                        mt-1"></i> Todays Total Earnings <br>
                    <h2 class="text-center">1000.23</h2>
                </h3>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-12 col-md-6 px-1">
                <mat-card class="card1">
                    <h3>TOP CLIENT SPENDING
                    </h3>
                    <canvas id="myChart2" class="chart"></canvas>
                </mat-card>
            </div>
            <div class="col-12    col-md-6 px-1">
                <mat-card class="card2">
                    <h3>TOP CLIENT SPENDI
                    </h3>
                    <canvas id="myChart1" class="chart1"></canvas>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-12 px-0">
                <mat-card class="card3">
                    <h3>TOP CLIENT SPENDINGs
                    </h3>
                    <canvas id="myChart"></canvas>
                </mat-card>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-12 px-0">
                <mat-card class="card4">
                    <div id="chartdiv"></div>
                </mat-card>
            </div>
        </div>
    </div> -->
</section>