<ngx-spinner> </ngx-spinner>
<div class="container-fluid" *ngIf="editstand == false && addstand == false && viewstand == false">
    <mat-card class="maincard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2>Update Settings</h2>
                </div>

            </div>
            <hr />

            <form [formGroup]="DeleteAgeform">

                <div class="row mt-4">
                    <div class="col-md-12">
                        <h3>Set password for excel file</h3>

                        <input type="text" formControlName="excel" class="form-control" name="passwordExcel" [(ngModel)]="retention.passwordExcel" placeholder="set password for excel file" [ngClass]="{ 'is-invalid': submitted && f.excel.errors }">
                        <div *ngIf="submitted && f.excel.errors" class="invalid-feedback">
                            <div *ngIf="f.excel.errors.required">Password is required</div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-12">
                        <h3> Password expiration days </h3>

                        <input type="number" formControlName="policy" class="form-control" name="policyDays" [(ngModel)]="retention.policyDays" placeholder="Set password expiration days" [ngClass]="{ 'is-invalid': submitted && f.policy.errors }" 
                        oninput="validity.valid||(value='');" min="0" >
                        <div *ngIf="submitted && f.policy.errors" class="invalid-feedback">
                            <div *ngIf="f.policy.errors.required">expiration day required</div>
                        </div>
                    </div>
                </div>


                <!-- <div class="row mt-4">
                    <div class="col-md-12">
                        <h3>Port No
                        </h3>
                        <input type="number" formControlName="userlog" (keypress)="keyPressContact($event)" class="form-control" name="logdays" [(ngModel)]="retention.logdays" placeholder="Enter number of days" [ngClass]="{ 'is-invalid': submitted && f.userlog.errors }">
                        <div *ngIf="submitted && f.userlog.errors" class="invalid-feedback">
                            <div *ngIf="f.userlog.errors.required">log days required</div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="row mt-4">
                    <div class="col-md-12">
                        <h3>From Email
                        </h3>
                        <input type="number" formControlName="systemlogs" (keypress)="keyPressContact($event)" name="logDays" class="form-control" placeholder="Enter number of days" [ngClass]="{ 'is-invalid': submitted && f.systemlogs.errors }">
                        <div *ngIf="submitted && f.systemlogs.errors" class="invalid-feedback">
                            <div *ngIf="f.systemlogs.errors.required">log days required</div>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="buttons">
                            <button mat-raised-button color="primary" class="mr-1" [disabled]="loading" (click)="Submit(retention)">Submit</button>
                            <button mat-raised-button color="info" class="ml-1" (click)="Reset()">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</div>