mat-card {
    width: 100%;
}

button {
    outline: none;
}

.example-chip-list {
    width: 100%;
}

.Online::after {
    // color: red;
    content: 'Y';
}

.offline::after {
    // color: red;
    content: 'N';
}
.blueclr{
    color: blue;
}
.example-card {
    max-width: 400px;
    // border-radius: 22px;
    margin: 3px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

i {
    cursor: pointer;
    font-size: 14px;
}

.example-form {
    min-width: 100px;
    // max-width: 400px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

table {
    width: 100%;
}

mat-icon {
    cursor: pointer;
    font-size: 1rem;
}

.maincard {
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, .15);
    border-radius: 22px;
    clear: both;
}

// .maincard:hover {
//     box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
//     transform: translateY(-1px);
//     transition: 0.6s;
// }
.addprice {
    float: right;
}

.zsoonimg {
    border-radius: 50%;
}

.addcustomer {
    float: right;
    // color: red;
}

.example-chip-list {
    width: 100%;
  }

//   .Online{
//     color: blue;
//   }

//   .offline{
//     color: red
//   }