.forgotpassword {
    outline: none;
    color: black;
    font-size: 17px;
    letter-spacing: 1px;
    // margin-top: 20%;
    margin-left: -3%;
}

// .zsoonimg {
//     margin-top: -5px;
//     margin-left: -4%;
//     height: 13vh;
// }
button {
    font-size: 15px;
    color: whitesmoke;
    // text-transform: uppercase;
    letter-spacing: 1px;
    font-family: sans-serif;
    // margin-top: 10% !important;
    border-radius: 12px;
}

.cancel {
    position: relative;
    bottom: 17px;
}

.zsoonimg {
    margin-top: -27px;
    margin-left: -4%;
    height: 14vh;
}

button {
    outline: none;
    border: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input {
    color: #353030;
    box-shadow: none !important;
    outline: 0 !important;
    border: 0;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ccc;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ccc;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}

.msg-box {
    position: fixed;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    border: 0;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
    padding: 10px 20px;
    min-width: 400px;
    max-width: 900px;
    font-size: 14px;
}

.msg-box .warning {
    width: 24px;
    height: 24px;
    line-height: 24px;
    background-color: #FE4066;
    color: white;
    font-size: 14px;
    display: inline-block;
    border-radius: 50%;
    margin-top: 16px;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.loading img {
    display: inline-block;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.body {
    background: url("/login-bg.jpg") no-repeat;
    background-size: cover;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../../assets/final.png');
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.content {
    width: 420px;
    margin: 16vh auto 0;
}

.header-icon {
    text-align: center;
    margin-bottom: 30px;
}

.header-icon a,
.header-icon i {
    color: #FFF;
    font-size: 48px;
}

mat-card {
    border-radius: 18px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    position: relative;
    top: 25%;
    right: 13%;
}

.james {
    font-size: 16px;
    font-family: sans-serif !important;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.mapletree {
    position: relative;
    top: 13%;
    font-family: sans-serif;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.from-content {
    width: 420px;
    box-sizing: border-box;
    padding: 40px 40px 48px;
    background-color: #FFF;
    position: relative;
    height: 56vh;
    left: 20%;
    top: 10%;
}

.from-content h1 {
    font-size: 18px;
    color: #353030;
    font-weight: 600;
    margin: 0 0 40px;
}

.from-content .mark {
    color: #8C8889;
    font-size: 14px;
    margin-bottom: 24px;
    line-height: 1.5;
}

.from-content .top-right {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

.from-content .top-right img {
    width: 45px;
    height: 45px;
}

.from-content .ercode {
    text-align: center;
}

.from-content .ercode img {
    width: 184px;
    height: 184px;
    display: inline-block;
    opacity: 0;
}

.from-content .ercode p {
    font-size: 14px;
    color: #8C8889;
}

.from-content .from {
    margin-top: 20px;
}

.from-content .from.hide {
    display: none;
}

.from-content .from.hide .submit-btn {
    margin-top: 60px;
}

.from-content .from-list {
    margin-top: 24px;
}

.from-content .from-list input {
    width: 100%;
    margin: 0;
    padding: 0 0 0 6px;
    height: 40px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
}

.from-content .from-list input::-webkit-input-placeholder {
    font-size: 14px;
}

.from-content .from-list input::-moz-placeholder {
    font-size: 14px;
}

.from-content .from-list input::-ms-input-placeholder {
    font-size: 14px;
}

.from-content .tip {
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.from-content .tip.tip-signup {
    padding-left: 20px;
    position: relative;
}

.from-content .tip.tip-signup .iconfont {
    position: absolute;
    left: 0;
    top: -1px;
}

.from-content .tip span {
    vertical-align: middle;
    cursor: default;
}

.from-content .tip span.icon {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: inline-block;
}

.from-content .tip span:last-of-type {
    padding-left: 2px;
}

.from-content .tip a {
    color: #FE4066;
    vertical-align: middle;
}

.from-content .tip .tip-right {
    color: #353030;
}

.from-content .tip .tip-right:hover {
    color: #FE4066;
}

.from-content .tip.agree .iconfont {
    color: #FE4066;
    background: none;
}

.from-content .tip.signup-tip,
.from-content .tip.signin-tip {
    text-align: center;
    margin-top: 20px;
}

.from-content .tip.signin-tip {
    display: none;
}

.from-content .tip.forgot-tip {
    text-align: center;
    margin-top: 20px;
}

.from-content .tip.forgot-tip a {
    color: #353030;
}

.from-content .tip.forgot-tip a:hover {
    color: #FE4066;
}

.from-content .error-message {
    font-size: 12px;
    color: #FE4066;
    text-align: center;
    margin-top: 16px;
    opacity: 0;
}

.from-content .submit-btn {
    margin-top: 16px;
}

.from-content .submit-btn button {
    background-color: #FE4066;
    color: #FFF;
    font-size: 16px;
    height: 44px;
    width: 100%;
    display: block;
    border-radius: 22px;
}

.from-content .submit-btn button:hover {
    background-color: #FF5476;
}

.from-content .forgot-btn {
    margin-top: 160px;
}

.content-footer {
    width: 420px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 20px 40px;
    background-color: #FFF;
    position: relative;
    border-radius: 6px;
}

.content-footer span {
    font-size: 14px;
    color: #8C8889;
    cursor: default;
}

.content-footer .btn-right {
    float: right;
}

.content-footer .btn-right a {
    font-size: 14px;
    color: #8C8889;
    display: inline-block;
}

.content-footer .btn-right a img {
    width: 17px;
    height: auto;
    margin-right: 3px;
    vertical-align: text-top;
}

.content-footer .btn-right a:first-of-type img {
    margin-right: 6px;
}

.content-footer .btn-right .line {
    margin: 0 20px;
    color: #8C8889;
}

.content-footer .btn-center {
    text-align: center;
}

.content-footer .btn-center a {
    font-size: 14px;
    color: #8C8889;
}

.content-footer .btn-center a i {
    font-size: 16px;
    vertical-align: text-top;
    margin-right: 8px;
}

.content-footer .btn-center a:hover {
    color: #FE4066;
}

.bind-footer {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin: 35px 0;
    color: #8C8889;
}

@media screen and (max-width: 540px) {
    .body,
    .bg {
        background: none;
        background-color: #FFF;
    }
    .header-icon {
        display: none;
    }
    .content {
        width: 92%;
        margin: auto;
    }
    .from-content {
        width: 100%;
        max-width: 420px;
        margin: 40px auto;
        padding: 0;
    }
    .from-content .top-right {
        display: none;
    }
    .from-content .tip.signin-tip {
        display: block;
    }
    .from-content .forgot-btn {
        margin-top: 80px;
    }
    .content-footer {
        width: 100%;
        max-width: 420px;
        margin: 20px auto;
        padding: 0;
    }
}

.from-content {
    border-radius: 23px;
}

//   @media screen and (max-width: 800px) {
//     .body,
//     .bg {
//       background: none;
//       background-color: #FFF;
//     }
//     .header-icon {
//       display: none;
//     }
//     .content {
//       width: 92%;
//       margin: auto;
//     }
//     .from-content {
//       width: 100%;
//       max-width: 420px;
//       margin: 40px auto;
//       padding: 0;
//       box-sizing: border-box;
//     }
//     .from-content .top-right {
//       display: none;
//     }
//     .from-content .tip.signin-tip {
//       display: block;
//     }
//     .from-content .forgot-btn {
//       margin-top: 80px;
//     }
//     .content-footer {
//       width: 100%;
//       max-width: 420px;
//       margin: 20px auto;
//       padding: 0;
//     }
//   }
@media screen and (max-width: 340px) {
    .content-footer .btn-right .line {
        margin: 0 16px;
    }
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

button {
    background: #6CD7E0;
    outline: none;
    border-radius: 22px;
    border: none;
}

// button:hover {
//     background: linear-gradient(90deg, #ff0000, #ff8307);
//     //    transition-duration:all ease 5s;
// }
.img {
    height: 100px!important;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.mat-radio-button {
    font-size: 0.70;
}

.zsoonimg {
    margin-top: 12x;
}

.forgotbutton {
    margin-top: 60px !important;
}

#background {
    background-image: url('../../assets/simone-hutsch-_wpce-AsLxk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    top: 10%;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

.div {
    float: right;
    position: relative;
    top: 17px;
}