<ngx-spinner></ngx-spinner>
<div class="container-fluid">
  <div class="row">
    <div class="col-5 pl-1">
      <section id="background"></section>
    </div>
    <div class="col-7">
      <h1 class="mapletree">
        mapletree <br> Visitor Registration System <br> <span class="james ml-3">St James Power Station</span>
      </h1>
      <mat-card>
        <mat-horizontal-stepper linear #stepper>
          <mat-step label="Enter User Credentials" [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>User Name</mat-label>
                      <input matInput placeholder="Enter User Name" formControlName="firstCtrl" type="text" />
                      <mat-error *ngIf="f.firstCtrl.hasError('required')">User name is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Email Address</mat-label>
                      <input matInput placeholder="Enter Email Address" formControlName="secondCtnl" type="text" />
                      <mat-error *ngIf="f.secondCtnl.hasError('required')">Email address is required</mat-error>
                      <mat-error *ngIf="f.secondCtnl.hasError('pattern')">Enter Valid Email</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div style="float: right">
                <button color="primary" class="m-1" mat-raised-button (click)="PasswordReset(stepper)">
                  Next
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step label="Enter Password Reset Code" [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Enter password Reset Code</mat-label>
                      <input matInput formControlName="secondCtrl" [(ngModel)]="reset"
                        (keypress)="keyPressContact($event)" maxlength="4" placeholder="Enter password Reset Code"
                        required>
                    </mat-form-field>
                    <mat-error *ngIf="Error">Code is invalid</mat-error>
                  </div>
                </div>
              </div>
              <div style="float: right">
                <button color="warn" class="m-1" mat-raised-button matStepperPrevious>
                  Previous
                </button>
                <button color="primary" class="m-1" mat-raised-button (click)="PasswordResetCode(stepper)">
                  Next
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step label="Enter New Password" [stepControl]="firstFormGroup">
            <form [formGroup]="thirdFormGroup">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Enter New Password</mat-label>
                      <input matInput placeholder="Enter New Password" formControlName="TfirstCtrl" type="text"
                        name="password" type="password" />
                      <mat-error *ngIf="h.TfirstCtrl.hasError('required')">Password is required</mat-error>
                      <mat-error *ngIf="h.TfirstCtrl.hasError('minLength')">
                        Password should be minimum 14 characters with 1 upper case, 1 lower case, 1 digit and 1 special
                        character
                      </mat-error>
                      <mat-error *ngIf="h.TfirstCtrl.hasError('pattern')">
                        Password should be minimum 14 characters with 1 upper case, 1 lower case, 1 digit and 1 special
                        character
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Confirm New Password</mat-label>
                      <input matInput placeholder="Confirm New Password" formControlName="TsecondCtnl" type="text"
                        name="password" type="password" (keyup)="onKey($event)" />
                      <mat-error *ngIf="h.TfirstCtrl.hasError('required')">Password required</mat-error>
                      <mat-error *ngIf="h.TfirstCtrl.hasError('minLength')">
                        Password should be minimum 14 characters with 1 upper case, 1 lower case, 1 digit and 1 special
                        character
                      </mat-error>
                      <mat-error *ngIf="h.TfirstCtrl.hasError('pattern')">
                        Password should be minimum 14 characters with 1 upper case, 1 lower case, 1 digit and 1 special
                        character
                      </mat-error>
                    </mat-form-field>
                    <mat-error *ngIf="NotMatch">Password doesn't match</mat-error>
                  </div>
                </div>
              </div>
              <div class="div">
                <button color="warn" class="m-1" mat-raised-button matStepperPrevious>
                  Previous
                </button>
                <button color="primary" class="m-1" mat-raised-button (click)="CreateNewPassword()">
                  Finish
                </button>
              </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card>
    </div>
  </div>
</div>
