<div class="container-fluid">
  <mat-card class="maincard">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-2">
          <select class="form-control entries" (change)="onChange($event.target.value)">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="25">25</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="75">75</option>
          </select>
        </div>
        <div class="col-12 col-md-3 ml-auto">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label><i class="fa fa-search"></i> Search</mat-label>
              <input matInput placeholder="Enter Value" value="" name="search" autocomplete="off" />
            </mat-form-field>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-stripped table-bordered">
              <thead>
                <tr class="text-center">
                  <th style="width: 25%;" (click)="sort('modifiedDate')">Processed Time&nbsp;<i class="fa fa-sort"></i> </th>
                  <th (click)="sort('message')"> Message&nbsp;<i class="fa fa-sort"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" *ngFor="let data of []
              ">
                 <td style="width: 25%;"></td>
                 <td></td>
              </tbody>
              <tfoot>
                <tr>
                  <!-- <td colspan="20">
                    <div *ngIf="![]?.length" style="text-align: center">
                      No records found
                    </div>
                  </td> -->
                </tr>
              </tfoot>
            </table>
            <!-- <pagination-controls style="float: right" (pageChange)="q = $event"></pagination-controls> -->
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
